<div class="container-fluid">
    <p-galleria [images]="images" styleClass="completa" panelWidth="500" panelHeight="313" [showFilmstrip]="true"
    [showCaption]="false"></p-galleria>
</div>
<p-dataView #dv [value]="sanphams" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="name"
[sortField]="sortField" [sortOrder]="sortOrder">
<p-header>
    <div class="ui-helper-clearfix">
        <div class="ui-g">
            <div class="ui-g-6 ui-md-3">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sắp xếp theo" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-3">
                <button pButton class="ui-button-success"  type="button" label="Thêm phòng ban" (click)="Themmoisanpham($event)"></button>
            </div>
            <div class="ui-g-6 ui-md-3 filter-container">
                <div style="position:relative">
                    <input type="search" pInputText placeholder="Tìm theo tên" (keyup)="dv.filter($event.target.value)">
                </div>
            </div>
            <div class="ui-g-6 ui-md-3" style="text-align:right">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </div>
    </div>
</p-header>
<ng-template let-sanpham pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-2" style="text-align:center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTXqXD3cJrYv3zpPRS2cvWRJW6imcUbWPdCpimqWPE57OQ3zEu&s" width="100px">
        </div>
        <div class="ui-g-12 ui-md-6 sanpham-details">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">Tên: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.name}}</b></div>

                <div class="ui-g-2 ui-sm-6">Số phòng: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.id}}</b></div>

                <!-- <div class="ui-g-2 ui-sm-6">Mô tả: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.MoTa}}</b></div>

                <div class="ui-g-2 ui-sm-6">Loại: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.Loai}}</b></div> -->
            </div>
        </div>
        <div class="ui-g-12 ui-md-4 search-icon">
            <div class="ui-g-12"><button pButton type="button" icon="pi pi-search" (click)="selectsanpham($event, sanpham)"></button></div>
            <div class="ui-g-12"><button pButton type="button" label="Đổi thông tin" (click)="selectsanphamAdmin($event, sanpham)"  class="ui-button-success"></button></div>
            <div class="ui-g-12"><button pButton type="button" label="Xóa phòng ban" (click)="handleClick($event, sanpham)" class="ui-button-danger"></button></div>
        </div>
    </div>
</ng-template>
<ng-template let-sanpham pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="sanpham.name" [style]="{'text-align':'center','vertical-align':'middle','display':'table-cell'}">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTXqXD3cJrYv3zpPRS2cvWRJW6imcUbWPdCpimqWPE57OQ3zEu&s" width="60" style="display: table-cell; vertical-align: middle;">
            <div class="sanpham-detail">{{sanpham.name}}</div>
            <hr class="ui-widget-content" style="border-top:0">
            <div class="btn-grfoup">
                <label class="btn btn-primary" (click)="selectsanpham($event, sanpham)" 
                       btnCheckbox tabindex="0" role="button"><a class="pi pi-search"></a></label>
                <label class="btn btn-success" (click)="selectsanphamAdmin($event, sanpham)" 
                       btnCheckbox tabindex="0" role="button">Đổi thông tin</label>
            </div>
        </p-panel>
    </div>
</ng-template>
</p-dataView>

<p-dialog header="{{(selectedsanpham == null)?'Thêm mới phòng ban':'Chỉnh sửa phòng ban'}}" [(visible)]="displayThemmoiDialog" [baseZIndex]="10000" [maximizable]="true" [responsive]="true" showEffect="fade" [modal]="true"   (onAfterHide)="onDialogHide(); ResetDulieu(); ">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <form  class="form-horizontal" #sanphamForm = "ngForm" >
                <!-- <div class="ui-g-12 ui-md-4" style="text-align:center">
                    <img src="{{LinkAnh}}" width="100px">
                </div> -->
                    <div class="ui-g-12 ui-md-8 sanpham-details" >
                        <div class="ui-g">
                                <div class="ui-g-2 ui-sm-2">ID: </div>
                                <div class="ui-g-6 ui-sm-6">
                                    <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="fa fa-address-card-o"></i></span>
                                        <input class="form-control" required (keypress)="IDTouch();" id="ID_SanPham"  type="text" pInputText placeholder="ID" name="id" [(ngModel)]="id" >         
                                    </div>
                                </div>
                                <div class="ui-g-4 ui-sm-4">
                                    <p-message severity="error" text="Phải điền ID sản phẩm" *ngIf="IDtouch == true && ID_SanPham == ''"></p-message>
                                </div>
                            <div class="ui-g-2 ui-sm-2">Tên: </div>
                            <div class="ui-g-6 ui-sm-6">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                                    <input class="form-control" (keypress)="TenTouch();" required type="text" id="name" pInputText placeholder="Tên" name="name" [(ngModel)]="name">         
                                </div>
                            </div>
                            <div class="ui-g-4 ui-sm-4">
                                <p-message severity="error" text="Phải điền tên sản phẩm" *ngIf="Tentouch == true && Ten == ''"></p-message>
                            </div>   
                            <!-- <div class="ui-g-2 ui-sm-2">Mô tả: </div>
                            <div class="ui-g-6 ui-sm-6">
                                <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="fa fa-info"></i></span>
                                        <input class="form-control" (keypress)="MoTaTouch();" required id="MoTa" type="text" pInputText placeholder="Mô tả" name="MoTa" [(ngModel)]="MoTa">         
                                </div>
                            </div>
                            <div class="ui-g-4 ui-sm-4">
                                <p-message severity="error" text="Phải điền Mô tả" *ngIf="MoTatouch == true && MoTa == ''"></p-message>
                            </div>

                            <div class="ui-g-2 ui-sm-2">Loại: </div>
                            <div class="ui-g-6 ui-sm-6">
                                <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="fa fa-suitcase"></i></span>
                                        <input class="form-control" (keypress)="LoaiTouch();" required type="text" pInputText placeholder="Loại" name="Loai"  [(ngModel)]="Loai">         
                                </div>
                            </div>
                            <div class="ui-g-4 ui-sm-4">
                                <p-message severity="error" text="Phải điền loại sản phẩm" *ngIf="Loaitouch == true && Loai == ''"></p-message>
                            </div>
                            <div class="ui-g-2 ui-sm-2">Link Ảnh: </div>
                            <div class="ui-g-6 ui-sm-6">
                                <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="fa fa-picture-o"></i></span>
                                        <input class="form-control" (keypress)="LinkAnhTouch();" required type="text" pInputText placeholder="Link Ảnh" name="LinkAnh" [(ngModel)]="LinkAnh">         
                                </div>
                            </div> -->
                            <!-- <div class="ui-g-4 ui-sm-4">
                                <p-message severity="error" text="Phải điền link ảnh sản phẩm" *ngIf="LinkAnhtouch == true && LinkAnh == ''"></p-message>
                            </div> -->
                        </div>
                    </div>
                    <p-footer>
                            <button type="button" pButton icon="pi pi-check" (click)="displayThemmoiDialog=false; Onsubmit(); sanphamForm.reset();" label="Lưu"></button>
                            <button type="button" pButton icon="pi pi-close" (click)="displayThemmoiDialog=false; ResetDulieu();  sanphamForm.reset();" label="Hủy" class="ui-button-secondary"></button>
                    </p-footer>
        </form>
    </div>
</p-dialog>

<p-dialog header="Chi tiết Phòng ban" [(visible)]="displayDialog" [baseZIndex]="10000" [maximizable]="true" [responsive]="true" showEffect="fade" [modal]="true"   (onAfterHide)="onDialogHide()">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9" *ngIf="selectedsanpham">
        <div class="ui-g-12 ui-md-4" style="text-align:center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTXqXD3cJrYv3zpPRS2cvWRJW6imcUbWPdCpimqWPE57OQ3zEu&s" width="120px">
        </div>
        <div class="ui-g-12 ui-md-8 sanpham-details" >
            <div class="ui-g">
                <div class="ui-g-4 ui-sm-6">Tên: </div>
                <div class="ui-g-8 ui-sm-6"><b>{{selectedsanpham.name}}</b></div>

                <div class="ui-g-4 ui-sm-6">Số phòng: </div>
                <div class="ui-g-8 ui-sm-6"><b>{{selectedsanpham.id}}</b></div>

                <!--<div class="ui-g-4 ui-sm-6">Mô tả: </div>
                <div class="ui-g-8 ui-sm-6"><b>{{selectedsanpham.MoTa}}</b></div>

                <div class="ui-g-4 ui-sm-6">Loại: </div>
                <div class="ui-g-8 ui-sm-6"><b>{{selectedsanpham.Loai}}</b></div> -->
            </div>
        </div>
        <div class="comment_block ui-g-12 ui-md-12">
                <!-- <ng-container *ngFor="let binhluan of binhluans"> -->
                    <ng-container *ngFor="let user of users">
                            <div class="new_comment"  *ngIf="user.department_id==selectedsanpham.id "> 
                                    <!-- current #{user} avatar -->
                                    <div class="user_avatar">
                                        <img src="https://cdn2.iconfinder.com/data/icons/people-round-icons/128/man_avatar-512.png">
                                    </div>
                                    <div class="comment_body">
                                        <p>{{user.name}} - Chức vụ : {{user.position}}</p>
                                    </div>
                            </div>
                    </ng-container>
                <!-- </ng-container> -->
                <!-- <div class="create_new_comment">
                    <div class="user_avatar">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
                    </div>
                    <div class="input_comment">
                        <input type="text" placeholder="Bình luận về sản phẩm..">
                    </div>
                </div> -->
            </div>
    </div>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayDownloadDialog" [modal]="true" [responsive]="true" showEffect="fade" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
                     [baseZIndex]="10000" (onAfterHide)="onDialogHide()" *ngIf="selectedsanpham">
                        <p style="margin: 30px; text-align: center;">Bạn chắc chắn xóa thông tin phòng ban {{selectedsanpham.name}} chứ ?</p>
                        <p-footer>
                            <button type="button" pButton icon="pi pi-close" (click)="displayDownloadDialog=false;Xoasanpham(selectedsanpham);" label="Có" class="ui-button-secondary"></button>
                            <button type="button" pButton icon="pi pi-close" (click)="displayDownloadDialog=false;" label="Không" class="ui-button-secondary"></button>
                        </p-footer>
</p-dialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>