<div class="container-fluid">
  <p-galleria [images]="images" styleClass="completa" panelWidth="500" panelHeight="313" [showFilmstrip]="true"
  [showCaption]="false"></p-galleria>
</div>
<div>
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 example-col">
                  <p class="k-block" style="background-color: #787878; color: #ffffff;">
                    <button kendoButton (click)="Themmoisanpham($event)" look="flat">Thêm mới nhân viên</button>
                    </p>
                </div>
        </div>
    <kendo-grid [data]="gridData"
 [pageSize]="state.take"
  [skip]="state.skip"
   [sort]="state.sort"
    [filter]="state.filter"
[sortable]="true"
 [pageable]="true"
  [filterable]="true"
  (dataStateChange)="dataStateChange($event)">
  
          <kendo-grid-column field="username" title="Nhân viên">
            <ng-template>
                <div class="ui-g-6 ui-md-3">
                    <button pButton class="ui-button-success"  type="button" label="Thêm mới nhân viên" (click)="Themmoisanpham($event)"></button>
                </div>v
            </ng-template>
            <ng-template kendoGridCellTemplate let-User>
              <div class="customer-photo">
                  <img src="https://cdn2.iconfinder.com/data/icons/people-round-icons/128/man_avatar-512.png">
              </div>
              <div class="customer-name">
                  {{ User.username }}
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="name" title="Tên"></kendo-grid-column>
          <kendo-grid-column field="department_id" title="Phòng ban"></kendo-grid-column>
          <kendo-grid-column field="email" title="Email"></kendo-grid-column>
          <kendo-grid-column field="position" title="Chức vụ"></kendo-grid-column>
          <kendo-grid-column title="Xóa tài khoản">
              <ng-template kendoGridCellTemplate let-User>
                <div>
                    <button kendoButton  (click)="openThemmoi(User)" >Sửa thông tin</button>
                    <button kendoButton  (click)="open(User)" primary="true" >Xóa nhân viên</button>
                </div>
              </ng-template>
          </kendo-grid-column>
</kendo-grid>
<kendo-window title="{{(selectedUser == null)?'Thêm mới nhân viên':'Chỉnh sửa thông tin nhân viên'}}" *ngIf="displayThemmoiDialog" (close)="closeThemmoi()" [minWidth]="250" [width]="450">

    <form class="k-form">
        <fieldset>
            <legend>Thông tin</legend>
            <label class="k-form-field">
                    <span>ID</span>
                    <input class="k-textbox" placeholder="ID" name="id" [(ngModel)]="id" />
                </label>
            <label class="k-form-field">
                <span>Username</span>
                <input class="k-textbox" placeholder="Username" name="username" [(ngModel)]="username" />
            </label>
            <label class="k-form-field">
                <span>Tên</span>
                <input class="k-textbox" placeholder="Tên" name="name" [(ngModel)]="name"/>
            </label>
            <label class="k-form-field">
                <span>Email</span>
                <input class="k-textbox" placeholder="Email" name="email" [(ngModel)]="email"/>
            </label>
            <label class="k-form-field">
                <span>Phòng ban</span>
                <input class="k-textbox" placeholder="Phòng ban" name="department_id" [(ngModel)]="department_id"/>
            </label>
            <label class="k-form-field">
                <span>Vị trí</span>
                <input class="k-textbox" placeholder="Vị trí" name="position" [(ngModel)]="position"/>
            </label>
            <label class="k-form-field">
                <span>Mã số tax</span>
                <input class="k-textbox" placeholder="Mã số tax" name="taxcode" [(ngModel)]="taxcode"/>
            </label>
            <label class="k-form-field">
                    <span>Lương</span>
                    <input class="k-textbox" placeholder="Lương" name="salary" [(ngModel)]="salary" />
            </label>
            <label class="k-form-field">
                    <span>Ngày sinh</span>
                    <kendo-datepicker
                name="birth" [(ngModel)]="birth"
                (valueChange)="onChange($event)"
            ></kendo-datepicker>
            <event-log title="Event log" [events]="events">
            </event-log>
            <div class="col-md-6">
            </div>
            </label>
        </fieldset>

        <div class="text-right">
                <button type="button" class="k-button k-primary" (click)="OnSubmit();closeThemmoi();">Lưu</button>
            <button type="button" class="k-button" (click)="closeThemmoi()">Bỏ qua</button>
        </div>
    </form>

</kendo-window>
<kendo-dialog title="Xác thực" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Bạn chắc chắn muốn xóa thông tin nhân viên {{selectedUser.name}} chứ ?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="close('yes'); deleteUser(selectedUser);" primary="true">Có</button>
        <button kendoButton (click)="close('no')" >Không</button>
    </kendo-dialog-actions>
</kendo-dialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
</div>
